{% extends 'base.html' %}
{% block title %}Add Pet{% endblock %}
{% block content %}

<h1 class="display-1 mb-4 text-center">Add a pet for adoption</h1>
<form method="POST">
{{ form.hidden_tag() }}

{% for field in form if field.widget.input_type != 'hidden' %}
<div class="form-group mb-3">
    <strong>{{ field.label(class_="form-label") }}</strong>
    {{ field(class_="form-control") }}

    {% for err in field.errors %}
        <small class="form-text text-danger">
            {{ err }}
        </small>
    {% endfor %}
</div>
{% endfor %}

<a href="/" class="btn btn-lg btn-danger float-end ms-2">Cancel</a>
<button class="btn btn-lg btn-success float-end">Submit</button>
</form>

{% endblock %}