{% extends 'base.html' %}
{% block title %}{{ pet.name }}{% endblock %}
{% block content %}

<div class="pet card mt-5 rounded">
    {% if pet.photo_url %}
    <img src="{{pet.photo_url}}" class="card-img-top p-2" alt="pet-photo">
    {% endif %}
    <div class="card-body">
      {% if pet.age %}
        <h5 class="d-inline float-end">Age: {{pet.age}}</h5>
      {% endif %}  
      <h5 class="card-title">{{pet.name}}</h5>
      {% if pet.notes %}
      <p class="card-text">{{pet.notes}}</p>
      {% endif %}
      <a href="/{{pet.id}}/edit" class="btn btn-success">Edit</a>
      <a href="/" class="btn btn-outline-secondary">Go Back</a>
    </div>
  </div>

{% endblock %}